<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}
{% load my_filters %}
<!-- Название у нас будет proudcts -->
{% block title %}
{{ post.name|censor }}
<br>
<br>
<br>
Дата: {{ post.date|date:'d m Y' }}
Время: {{ post.date|date:'H:m'}}

<br>
Автор: {{ post.author.user.first_name}} {{ post.author.user.last_name}}
<br>
Категория:
{% for i in post.category.values %}
{{i.name}}
{% endfor %}

<br>
Рейтинг: {{ post.rating}}
<br>
Тип публикации: {{post.get_type_display}}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, ID которого было передано в адрес -->
{% block content %}
<br>
<br>
<h1>{{ post.body|censor}}</h1>
<br>
<br>
<br>

{% endblock content %}